*{
    margin:0;
    padding:0
}

.home-container{
    background-image: url(../IMAGES/backgroundHome.png);
    background-size: cover;
    height: 1000px;
    width:100%;
    color: white;
}

.container{
    display: flex;
}

.container .logo{
    margin: 15px 40px;
}

.home-container .nav{
    width: 30%;
    margin:50px 55px ;
    font-family: 'Courier New', Courier, monospace;
    
}

.home-container .nav .nav-list{
    display: flex;
    list-style: none;
    justify-content: space-between;

}

.home-container .nav .nav-list li a{
    color: white;
    text-decoration: none;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

.home-container .nav .nav-list li:first-child a{
    color: #E9BD8C;
}

.home-content :first-child{
    color: #E9BD8C;
    font-family:  'Inter', sans-serif;
    font-size: 24px;
}

.home-content :last-child{
    font-family: 'Sansita Swashed', cursive;
    width: 424px;
    font-size: 70px;
}

.whole-content{
    margin-left: 40px;
    margin-top: 200px;
}

.whole-content .btn-link{
    background-color: #933C24;
    padding: 24px 38px;
    color: white;
    border-radius: 10px;
    font-size: 24px;
    margin-top: 80px;
}

.whole-content .link{
    text-decoration: none;
    margin: 0 20px;
    color: #E9BD8C;
    font-family: 'Inter', sans-serif;
}

/* TOP PRODUCT SECTION */
/* .products{
    width: 100%;
} */

.top-container p{
    color: black;
    font-family: 'Sansita Swashed', cursive;
    font-size: 74px;
    margin: 100px auto;
    text-align: center;
    font-weight: bold;
}

.all-cards{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    color: white;
    font-family:  'Inter', sans-serif;
}

.card{
    background-image: url(../IMAGES/backgroundBakery.png);
    background-size: cover;
    width: 30%;
    height: 418px;
    margin: 15px;
    border-radius: 15px;
}

.card img{
    margin: 15px 45px;
}

.card .text{
    margin-left: 25px ;
    font-family:  'Inter', sans-serif;
}

/* .card .text p :first-child{
    margin: 23px auto;
} */

.add {
    background-color: #933C24;
    border-radius: 5px;
    padding: 16px 12px;
    color: white;
    font-size: 18px;
    margin: 0 75px;
}

.move{
    display: flex;
    display: space-between;
    margin-top: 30px;
}

